---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->
        {% endfor %}
            </br>
        </div>
        <div class="col-lg-6">
            <h4>About Me</h4>
            <p>  I am currently a student, living in Bristol and studying at the University of The West of England for a degree in Games Technology where I am currently predicted to get a first class honours, and I have achieved a first in my first year of study.
I am a proactive and proficient programmer with a strong knowledge of C/C++ but I also have experience with other languages outside of the C, such as Bash Shell (ideal as an ad-hoc Linux user), VB.net, C# as well as knowledge of languages like Java and HLSL/GLSL.</p>

<p>Outside of being technical it should be no surprise that I have a strong passion for games with it not only being one of my favourite ways to relax and have fun, but also the focus of my technical interests with many of programs I have written being games. I also have a proactive interest in the technology that goes into games such as the underlying rendering and engine technology.
This has been valuable in terms of motivation, leading me to experiment and learn various technologies independently over the years. Such examples being, learning C# independently whilst in college\sixth-form as well as running and developing on Linux (GCC).</p>

<p>Although, whilst I'm passionate about games I do have other interests and hobbies that I follow, serving both as entertainment and inspiration. These being areas such as animation, current events (politics and economics) and contemporary history.</p>

<p>My ambition is to use the various skills I have acquired over the years as well as various sources of inspiration to create high quality games and software which can make a mark in some way.  I am very driven and willing to learn new things in the hopes that I will be able to achieve this goal some day.

I am currently interested in finding a placement for my third year. If you are interested in considering me for a placement, don’t hesitate to contact me.  Just send an email to the stated address.</p>
            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
