---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->
        {% endfor %}
            </br>
        </div>
        <div class="col-lg-6">
          <div class="spacing"></div>
                        <h4>Allow me to introduce myself...</h4>
                        <p> 
                            I'm a proactive software engineer based in the UK currently working 
                            for Samsung R&D UK on Mobile device optimisation, although my experience spans several
                            diffrent projects and technologies.
                            
                        <p> I graduated from the University of the West of England (UWE) obtaining a 
                            first class honours degree in Games Technology. During this time I participated 
                            in several diffrent events, jobs and projects which helped to broden my horizons.
                            After my graduation I had the honour of being able to work with some of my
                            university colleges on research in the application of AI in the games design process. </p>
                            
                        <p> I have experience working with a range of technologies an all manner of platforms.
                            Given my background this experience is primaraly centered on low-level langauages and tools
                            that are commonly used in game development (C++, HLSL, GLSL etc.).
                            
                            My primary interest is in Computer Graphics technology, specificlly global illumination and 
                            raytracing. I enjoy the challange of this area as well as the intersection it provides between
                            Art, Maths and Physics.</p>
                            
                        <p> I'm a passionate learner with a curiosity about many diffrent aspects of the world. My hobbies
                            are probably the best reflection of this, often spending my time engaging with material around
                            all sorts of topics from animation to current events. It's good staying engaged with whats going on
                            and can be a great source of inspiration for many challanges we face in life.
                            
                            This approach to learning has served me well over the years. Giving me the motivation to teach myself
                            new skills going back to my high school/college days. It was through this that I was able to teach myself 
                            new programming langauages and software tools as well as other things. </p>
                            
                        <P> Outside of this I like to relax wither with games, films or music. To be frank nothing beats it.
                            
                            My Modus Operandai as it were is to use the knowladge I've gained passionately over the years to create
                            some truly great pieces of work hat I can have pride in and that others can hopefully learn from.
                            </p>
                        <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
