---
layout: contact
title: Contact
permalink: /contact/
---
<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <h4>Any Queries?</h4>
            <div class="hline"></div>
                <p>Feel free to message me below using the form provided:</p>
                <form role="form">
                  <div class="form-group">
                    <label for="InputName1">Your Name</label>
                    <input type="text" class="form-control" id="exampleInputName1">
                  </div>
                  <div class="form-group">
                    <label for="InputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                  </div>
                  <div class="form-group">
                    <label for="InputSubject1">Subject</label>
                    <input type="text" class="form-control" id="exampleInputSubject1">
                  </div>
                  <div class="form-group">
                    <label for="message1">Message</label>
                    <textarea class="form-control" id="message1" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-theme">Submit</button>
                </form>
        </div><! --/col-lg-8 -->

        <div class="col-lg-4">
            <h4>How else can I get in touch?</h4>
            <div class="hline"></div>
                <p>
                 If you wish to talk to me directly, I can also be reached through LinkedIn and GitHub. 
                  Links for which are provided below: <br/>
                  {% for network in site.social %}
                    {% if network.title != "envelope" %}
                      <a href="{{ network.url }}" class="contact-links">
                        {{ network.title }}
                        <i class="fa fa-{{ network.title }}" aria-hidden="true"></i>
                        <span class="sr-only">{{network.title}}</span>
                        &nbsp;&nbsp;
                      </a>
                    {% endif %}
              {% endfor %}
                </p>
        </div>
    </div><! --/row -->
</div><! --/container -->
