<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Hello there</h1>
                <h4>Welcome one and all to my portfolio.</h4>
                <h4>Here you will find everything from my projects to blog posts on various issues.</h4>
                <h4>Like what you see? Fell free to contact me.</h4>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/montage_by_ardathlilitu.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
